<%%= form_with(model: <%= model_resource_name %>, local: true) do |form| %>
  <%% if <%= singular_table_name %>.errors.any? %>
    <div id="error_explanation">
      <h2><%%= pluralize(<%= singular_table_name %>.errors.count, "error") %> prohibited this <%= singular_table_name %> from being saved:</h2>

      <ul>
      <%% <%= singular_table_name %>.errors.full_messages.each do |message| %>
        <li><%%= message %></li>
      <%% end %>
      </ul>
    </div>
  <%% end %>

<% attributes.each do |attribute| -%>
  <div class="field">
<% if attribute.password_digest? -%>
    <%%= form.label :password, class: 'label' %>
    <%%= form.password_field :password, class: 'input' %>
  </div>

  <div class="field">
    <%%= form.label :password_confirmation, class: 'label' %>
    <%%= form.password_field :password_confirmation, class: 'input' %>
<% elsif attribute.field_type == :check_box -%>
    <%%= form.label :<%= attribute.column_name %>, class: 'checkbox' do %>
      <%%= form.<%= attribute.field_type %> :<%= attribute.column_name %>, class: 'checkbox' %>
      <%= attribute.column_name.capitalize %>
    <%% end %>
<% else -%>
    <%%= form.label :<%= attribute.column_name %>, class: 'label' %>
    <%%= form.<%= attribute.field_type %> :<%= attribute.column_name %>, class: '<%= attribute.bulma_field_class %>' %>
<% end -%>
  </div>

<% end -%>
  <div class="actions">
    <%%= form.submit class: 'button is-link' %>
  </div>
<%% end %>
